# ==============================
# Forza LF per tutti i file di codice e script
# ==============================
*.py text eol=lf
*.sh text eol=lf
*.m text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.j2 text eol=lf
*.conf text eol=lf

# ==============================
# Normalizzazione automatica per tutti gli altri file di testo
# ==============================
* text=auto

# ==============================
# File binari
# ==============================
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.tar binary
*.gz binary
