# ==============================
# SISTEMA OPERATIVO
# ==============================
.DS_Store
Thumbs.db

# ==============================
# AMBIENTI VIRTUALI E VARIABILI D’AMBIENTE
# ==============================
venv/
.env

# ==============================
# FILE DI BUILD E COMPILAZIONE
# ==============================
# Cartelle di output
/build/
/bin/
/obj/
/output/
/temp/
/cache/

# File temporanei e compilati
*.o
*.obj
*.exe
*.log
*.bak
*.asv
*.pyc

# ==============================
# EDITOR E IDE
# ==============================
.vscode/

# ==============================
# LIBRERIE ESTERNE LOCALI
# ==============================
/external/
/libs/

# ==============================
# CONFIGURAZIONI LOCALI
# ==============================
/configs/*.conf

# ==============================
# SCRIPT LOCALI / UTILITY
# ==============================
normalize_lf.py

# ==============================
# FILE DI OUTPUT LOCALI
# ==============================
*.json
