
# SISTEMA OPERATIVO
.DS_Store
Thumbs.db


# AMBIENTI VIRTUALI / ENV
venv/
.env


# CARTELLE DI BUILD / OUTPUT
/build/
/bin/
/obj/
/output/
/temp/
/cache/


# FILE TEMPORANEI DI COMPILAZIONE
*.o
*.obj
*.exe
*.log
*.bak
*.asv
*.pyc


# EDITOR / IDE
.vscode/


# LIBRERIE ESTERNE LOCALI
/external/
/libs/


# CONFIGURAZIONI LOCALI
/configs/*.conf

# OUTPUT LOCALI
.json