frr version 10.0.2_git
frr defaults traditional

hostname {{ device.hostname }}

{%- if device.dhcp_server %}
dhcp server
   subnet {{ device.dhcp_server.subnet }}
      range {{ device.dhcp_server.range }}
{%- endif %}

log syslog informational
service integrated-vtysh-config
!

{%- for intf in interfaces %}
interface {{ intf.name }}
   {%- if intf.switch is defined and intf.switch == 0 %}
   no switchport
   {%- endif %}
   {%- if intf.ipv4_address %}
   ip address {{ intf.ipv4_address }}{{ intf.ipv4_mask }}
   {%- endif %}
   {%- if intf.ipv6_address %}
   ipv6 address {{ intf.ipv6_address }}{{ intf.ipv6_mask }}
   {%- endif %}
   {%- if intf.dhcp %}
   dhcp server ipv4
   {%- endif %}
exit
!
{%- endfor %}