name: project

topology:
    nodes:
      {% for node in nodes %}
      {{ node.name }}:
        {% if node.kind %}
        kind: {{ node.kind }}
        {% else %}
        kind: linux
        {% endif %}
        {% if node.kind != 'bridge' %}
        {% if node.role == 'host' %}
        image: alpine:latest 
        env: 
          MY_INTF: {{ node.interfaces[0].name }}
          MY_IP: {{ node.ipv4_address }}/24
          MY_GW: {{ node.gateway_ip }}
        binds:  
        - ./configs/linux-host-cfg.sh:/linux-cfg.sh
        exec: 
          - echo "script on {{ node.name }}"
          - sh /linux-cfg.sh 
        {% else %}
        image: quay.io/frrouting/frr:10.4.1
        startup-config: configs/{{ node.name }}.conf
        binds:
          - ./configs/{{ node.name }}.conf:/etc/frr/frr.conf
          - ./configs/frr/daemons:/etc/frr/daemons
          - ./configs/frr/vtysh.conf:/etc/frr/vtysh.conf
          - ./configs/frr/frr-cfg.sh:/frr-cfg.sh
        {% endif %}
        {% endif %}
      {% endfor %}

    links:
      {% for link in links %}
          - endpoints: ["{{ link.a }}:{{ link.a_port }}", "{{ link.b }}:{{ link.b_port }}"]
      {% endfor %}

      {% for node in nodes %}
        {% if node.role != 'host' %}
          - type: dummy
            endpoint:
              node: {{ node.name }}
              interface: lo0
        {% endif %}
      {% endfor %}